In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_file = "Resources/noc_regions (1).csv"
noc_regions_df = pd.read_csv(csv_file)
noc_regions_df

     NOC                  region                   notes
0    AFG             Afghanistan                     NaN
1    AHO                 Curacao    Netherlands Antilles
2    ALB                 Albania                     NaN
3    ALG                 Algeria                     NaN
4    AND                 Andorra                     NaN
5    ANG                  Angola                     NaN
6    ANT                 Antigua     Antigua and Barbuda
7    ANZ               Australia             Australasia
8    ARG               Argentina                     NaN
9    ARM                 Armenia                     NaN
10   ARU                   Aruba                     NaN
11   ASA          American Samoa                     NaN
12   AUS               Australia                     NaN
13   AUT                 Austria                     NaN
14   AZE              Azerbaijan                     NaN
15   BAH                 Bahamas                     NaN
16   BAN              Bangladesh                     NaN
17   BAR                Barbados                     NaN
18   BDI                 Burundi                     NaN
19   BEL                 Belgium                     NaN
20   BEN                   Benin                     NaN
21   BER                 Bermuda                     NaN
22   BHU                  Bhutan                     NaN
23   BIH  Bosnia and Herzegovina                     NaN
24   BIZ                  Belize                     NaN
25   BLR                 Belarus                     NaN
26   BOH          Czech Republic                 Bohemia
27   BOL                  Boliva                     NaN
28   BOT                Botswana                     NaN
29   BRA                  Brazil                     NaN
..   ...                     ...                     ...
200  TJK              Tajikistan                     NaN
201  TKM            Turkmenistan                     NaN
202  TLS             Timor-Leste                     NaN
203  TOG                    Togo                     NaN
204  TPE                  Taiwan                     NaN
205  TTO                Trinidad     Trinidad and Tobago
206  TUN                 Tunisia                     NaN
207  TUR                  Turkey                     NaN
208  TUV                     NaN                  Tuvalu
209  UAE    United Arab Emirates                     NaN
210  UAR                   Syria    United Arab Republic
211  UGA                  Uganda                     NaN
212  UKR                 Ukraine                     NaN
213  UNK                     NaN                 Unknown
214  URS                  Russia                     NaN
215  URU                 Uruguay                     NaN
216  USA                     USA                     NaN
217  UZB              Uzbekistan                     NaN
218  VAN                 Vanuatu                     NaN
219  VEN               Venezuela                     NaN
220  VIE                 Vietnam                     NaN
221  VIN           Saint Vincent                     NaN
222  VNM                 Vietnam                     NaN
223  WIF                Trinidad  West Indies Federation
224  YAR                   Yemen             North Yemen
225  YEM                   Yemen                     NaN
226  YMD                   Yemen             South Yemen
227  YUG                  Serbia              Yugoslavia
228  ZAM                  Zambia                     NaN
229  ZIM                Zimbabwe                     NaN

[230 rows x 3 columns]

In [3]:
csv_file = "Resources/athlete_events.csv"
athlete_events_df = pd.read_csv(csv_file)
athlete_events_df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,6,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,7,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
25,7,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994 Winter,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
27,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
28,9,Antti Sami Aalto,M,26.0,186.0,96.0,Finland,FIN,2002 Winter,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
29,10,"Einar Ferdinand ""Einari"" Aalto",M,26.0,NaN,NaN,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271086,135555,Micha Zych,M,23.0,177.0,68.0,Poland,POL,2006 Winter,2006,Winter,Torino,Figure Skating,Figure Skating Mixed Ice Dancing,NaN
271087,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN
271088,135556,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN
271089,135557,Dominik ycki,M,34.0,192.0,95.0,Poland,POL,2008 Summer,2008,Summer,Beijing,Sailing,Sailing Men's Two Person Keelboat,NaN
271090,135557,Dominik ycki,M,38.0,192.0,95.0,Poland,POL,2012 Summer,2012,Summer,London,Sailing,Sailing Men's Two Person Keelboat,NaN
271091,135558,ukasz Tomasz ygado,M,32.0,200.0,89.0,Poland,POL,2012 Summer,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,NaN
271092,135559,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Poland,POL,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271093,135559,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Poland,POL,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271094,135559,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271095,135559,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271096,135559,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271097,135559,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 10,000 metres",NaN
271098,135559,Pawe Jan Zygmunt,M,33.0,182.0,79.0,Poland,POL,2006 Winter,2006,Winter,Torino,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271099,135560,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004 Summer,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN
271100,135561,Frantiek Zyka,M,26.0,NaN,NaN,Czechoslovakia,TCH,1928 Summer,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,NaN
271101,135562,Milan Zyka,M,24.0,173.0,68.0,Czechoslovakia,TCH,1972 Summer,1972,Summer,Munich,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver
271104,135564,Yevgeny Aleksandrovich Zykov,M,22.0,172.0,65.0,Russia-1,RUS,2002 Winter,2002,Winter,Salt Lake City,Luge,Luge Mixed (Men)'s Doubles,NaN
271105,135565,Fernando scar Zylberberg,M,23.0,168.0,76.0,Argentina,ARG,2000 Summer,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
271106,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [4]:
#transform athlete dataframe
athlete_cols = ["Name", "Sex", "Age", "Height", "Weight", "Team", "NOC", "Year", "Season", "City", "Sport", "Event", "Medal"]
athlete_transformed = athlete_events_df[athlete_cols].copy()

#rename column headers
athlete_transformed = athlete_transformed.rename(columns= {"Name": 'name',
                                                          "Sex": 'sex',
                                                          "Age": 'age',
                                                          "Height": 'height',
                                                          "Weight": 'weight',
                                                          "Team": 'country',
                                                          "NOC": 'national_olympic_committee',
                                                          "Year": 'year',
                                                          "Season": 'season',
                                                          "City": 'host_city',
                                                          "Sport": 'sport',
                                                          "Event": 'event',
                                                          "Medal": 'medal'})
athlete_transformed

,name,sex,age,height,weight,country,national_olympic_committee,year,season,host_city,sport,event,medal
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
10,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
13,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
14,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
15,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
16,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
17,Per Knut Aaland,M,33.0,188.0,75.0,United States,USA,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
18,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
19,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
20,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
21,John Aalberg,M,31.0,183.0,72.0,United States,USA,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
22,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
23,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 30 kilometres,NaN
24,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
25,John Aalberg,M,33.0,183.0,72.0,United States,USA,1994,Winter,Lillehammer,Cross Country Skiing,Cross Country Skiing Men's 4 x 10 kilometres R...,NaN
26,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN
27,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932,Summer,Los Angeles,Athletics,Athletics Women's 4 x 100 metres Relay,NaN
28,Antti Sami Aalto,M,26.0,186.0,96.0,Finland,FIN,2002,Winter,Salt Lake City,Ice Hockey,Ice Hockey Men's Ice Hockey,NaN
29,"Einar Ferdinand ""Einari"" Aalto",M,26.0,NaN,NaN,Finland,FIN,1952,Summer,Helsinki,Swimming,Swimming Men's 400 metres Freestyle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
271086,Micha Zych,M,23.0,177.0,68.0,Poland,POL,2006,Winter,Torino,Figure Skating,Figure Skating Mixed Ice Dancing,NaN
271087,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980,Summer,Moskva,Swimming,Swimming Men's 100 metres Butterfly,NaN
271088,Bogusaw Stanisaw Zychowicz,M,19.0,189.0,80.0,Poland,POL,1980,Summer,Moskva,Swimming,Swimming Men's 200 metres Butterfly,NaN
271089,Dominik ycki,M,34.0,192.0,95.0,Poland,POL,2008,Summer,Beijing,Sailing,Sailing Men's Two Person Keelboat,NaN
271090,Dominik ycki,M,38.0,192.0,95.0,Poland,POL,2012,Summer,London,Sailing,Sailing Men's Two Person Keelboat,NaN
271091,ukasz Tomasz ygado,M,32.0,200.0,89.0,Poland,POL,2012,Summer,London,Volleyball,Volleyball Men's Volleyball,NaN
271092,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Poland,POL,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271093,Pawe Jan Zygmunt,M,21.0,182.0,79.0,Poland,POL,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271094,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,500 metres",NaN
271095,Pawe Jan Zygmunt,M,25.0,182.0,79.0,Poland,POL,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271096,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271097,Pawe Jan Zygmunt,M,29.0,182.0,79.0,Poland,POL,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 10,000 metres",NaN
271098,Pawe Jan Zygmunt,M,33.0,182.0,79.0,Poland,POL,2006,Winter,Torino,Speed Skating,"Speed Skating Men's 5,000 metres",NaN
271099,Stavroula Zygouri,F,36.0,171.0,63.0,Greece,GRE,2004,Summer,Athina,Wrestling,"Wrestling Women's Middleweight, Freestyle",NaN
271100,Frantiek Zyka,M,26.0,NaN,NaN,Czechoslovakia,TCH,1928,Summer,Amsterdam,Athletics,Athletics Men's Marathon,NaN
271101,Milan Zyka,M,24.0,173.0,68.0,Czechoslovakia,TCH,1972,Summer,Munich,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN
271102,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver
271104,Yevgeny Aleksandrovich Zykov,M,22.0,172.0,65.0,Russia-1,RUS,2002,Winter,Salt Lake City,Luge,Luge Mixed (Men)'s Doubles,NaN
271105,Fernando scar Zylberberg,M,23.0,168.0,76.0,Argentina,ARG,2000,Summer,Sydney,Hockey,Hockey Men's Hockey,NaN
271106,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN
271107,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972,Summer,Munich,Football,Football Men's Football,NaN
271108,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271109,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
271110,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN
271111,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [5]:
csv_file = "Resources/popNIndex.csv"
country_df = pd.read_csv(csv_file)
country_df

,Unnamed: 0,Country,Population,Consumer_price_index,Code
0,1,Afghanistan,36373176,1.112000e+02,AFG
1,2,Albania,2934363,1.052000e+02,ALB
2,3,Algeria,42008054,2.153000e+02,DZA
3,4,Angola,55679,2.272100e+02,AGO
4,5,Argentina,76953,1.652400e+02,ARG
5,6,Armenia,30774205,1.253200e+02,ARM
6,7,Aruba,15045,1.221400e+02,ABW
7,8,Australia,103050,1.135000e+02,AUS
8,9,Austria,44688864,1.057000e+02,AUT
9,10,Azerbaijan,2934152,1.551500e+02,AZE
10,11,Bahamas,105670,1.069300e+02,NaN
11,12,Bahrain,24772247,1.315000e+02,BHR
12,13,Bangladesh,8751820,2.576200e+02,BGD
13,14,Barbados,9923914,1.851000e+02,BRB
14,15,Belarus,399285,6.509480e+09,BLR
15,16,Belgium,1566993,1.083100e+02,BEL
16,17,Belize,166368149,1.054000e+02,BLZ
17,18,Benin,286388,1.130000e+02,BEN
18,19,Bermuda,9452113,1.049000e+02,BMU
19,20,Bhutan,11498519,1.362000e+02,BTN
20,21,Bolivia,382444,1.015800e+02,BOL
21,22,Bosnia and Herzegovina,11485674,1.004000e+02,BIH
22,23,Botswana,61070,1.062000e+02,BWA
23,24,Brazil,817054,5.080830e+03,BRA
24,25,Brunei,11215674,9.950000e+01,BRN
25,26,Bulgaria,3503554,6.859030e+03,BGR
26,27,Burkina Faso,2333201,1.102000e+02,BFA
27,28,Burundi,210867954,1.091000e+02,BDI
28,29,Cambodia,31719,1.742000e+02,KHM
29,30,Cameroon,434076,1.118000e+02,CMR
...,...,...,...,...,...
202,204,Tajikistan,9107211,1.008000e+02,TJK
203,205,Tanzania,59091392,1.121200e+02,TZA
204,206,Thailand,69183173,1.026500e+02,THA
205,207,Timor-Leste,1324094,NaN,TLS
206,208,Togo,7990926,1.167000e+02,TGO
207,209,Tokelau,1319,NaN,NaN
208,210,Tonga,109008,NaN,TON
209,211,Trinidad and Tobago,1372598,NaN,TTO
210,212,Tunisia,11659174,1.519000e+02,TUN
211,213,Turkey,81916871,4.012700e+02,TUR
212,214,Turkmenistan,5851466,NaN,TKM
213,215,Turks and Caicos Islands,35963,NaN,NaN
214,216,Tuvalu,11287,NaN,TUV
215,217,Uganda,44270563,1.745000e+02,UGA
216,218,Ukraine,44009214,1.019000e+02,UKR
217,219,United Arab Emirates,9541615,1.109300e+02,ARE
218,220,United Kingdom,66573504,1.066000e+02,GBR
219,221,United States,326766748,2.519900e+02,USA
220,222,United States Virgin Islands,104914,NaN,NaN
221,223,Uruguay,3469551,1.866600e+02,URY
222,224,Uzbekistan,32364996,NaN,UZB
223,225,Vanuatu,282117,1.544000e+02,VUT
224,226,Vatican City,801,NaN,NaN
225,227,Venezuela,32381221,2.146100e+03,VEN
226,228,Viet Nam,96491146,1.114500e+02,VNM
227,229,Wallis and Futuna,11683,NaN,NaN
228,230,Western Sahara,567421,NaN,NaN
229,231,Yemen,28915284,NaN,YEM
230,232,Zambia,17609178,2.134200e+02,ZMB
231,233,Zimbabwe,16913261,1.020000e+02,ZWE

In [6]:
#transform country dataframe
country_cols= ["Country", "Population", "Consumer_price_index"]
country_transformed = country_df[country_cols].copy()

#rename column headers
country_transformed = country_transformed.rename(columns= {"Country": "country",
                                                          "Population": "population",
                                                          "Consumer_price_index": "cost_of_living"})
country_transformed

                          country  population  cost_of_living
0                     Afghanistan    36373176    1.112000e+02
1                         Albania     2934363    1.052000e+02
2                         Algeria    42008054    2.153000e+02
3                          Angola       55679    2.272100e+02
4                       Argentina       76953    1.652400e+02
5                         Armenia    30774205    1.253200e+02
6                           Aruba       15045    1.221400e+02
7                       Australia      103050    1.135000e+02
8                         Austria    44688864    1.057000e+02
9                      Azerbaijan     2934152    1.551500e+02
10                        Bahamas      105670    1.069300e+02
11                        Bahrain    24772247    1.315000e+02
12                     Bangladesh     8751820    2.576200e+02
13                       Barbados     9923914    1.851000e+02
14                        Belarus      399285    6.509480e+09
15                        Belgium     1566993    1.083100e+02
16                         Belize   166368149    1.054000e+02
17                          Benin      286388    1.130000e+02
18                        Bermuda     9452113    1.049000e+02
19                         Bhutan    11498519    1.362000e+02
20                        Bolivia      382444    1.015800e+02
21         Bosnia and Herzegovina    11485674    1.004000e+02
22                       Botswana       61070    1.062000e+02
23                         Brazil      817054    5.080830e+03
24                         Brunei    11215674    9.950000e+01
25                       Bulgaria     3503554    6.859030e+03
26                   Burkina Faso     2333201    1.102000e+02
27                        Burundi   210867954    1.091000e+02
28                       Cambodia       31719    1.742000e+02
29                       Cameroon      434076    1.118000e+02
..                            ...         ...             ...
202                    Tajikistan     9107211    1.008000e+02
203                      Tanzania    59091392    1.121200e+02
204                      Thailand    69183173    1.026500e+02
205                   Timor-Leste     1324094             NaN
206                          Togo     7990926    1.167000e+02
207                       Tokelau        1319             NaN
208                         Tonga      109008             NaN
209           Trinidad and Tobago     1372598             NaN
210                       Tunisia    11659174    1.519000e+02
211                        Turkey    81916871    4.012700e+02
212                  Turkmenistan     5851466             NaN
213      Turks and Caicos Islands       35963             NaN
214                        Tuvalu       11287             NaN
215                        Uganda    44270563    1.745000e+02
216                       Ukraine    44009214    1.019000e+02
217          United Arab Emirates     9541615    1.109300e+02
218                United Kingdom    66573504    1.066000e+02
219                 United States   326766748    2.519900e+02
220  United States Virgin Islands      104914             NaN
221                       Uruguay     3469551    1.866600e+02
222                    Uzbekistan    32364996             NaN
223                       Vanuatu      282117    1.544000e+02
224                  Vatican City         801             NaN
225                     Venezuela    32381221    2.146100e+03
226                      Viet Nam    96491146    1.114500e+02
227             Wallis and Futuna       11683             NaN
228                Western Sahara      567421             NaN
229                         Yemen    28915284             NaN
230                        Zambia    17609178    2.134200e+02
231                      Zimbabwe    16913261    1.020000e+02

[232 rows x 3 columns]

In [7]:
connection_string = "postgres:postgres@localhost:5432/etl_project"
engine = create_engine(f'postgresql://{connection_string}')

In [8]:
engine.table_names()

['athlete', 'country']

In [9]:
#load dataframe into database
athlete_transformed.to_sql(name='athlete', con=engine, if_exists='append', index=False)

In [10]:
#load dataframe into database
country_transformed.to_sql(name='country', con=engine, if_exists='append', index=False)

In [11]:
#confirm data has been added to postgres
pd.read_sql_query("SELECT * FROM athlete", con=engine).head()

,name,sex,age,height,weight,country,national_olympic_committee,year,season,host_city,sport,event,medal
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,None
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None

In [12]:
#confirm data has been added to postgres
pd.read_sql_query("SELECT * FROM country", con=engine).head()

       country  population  cost_of_living
0  Afghanistan    36373176           111.0
1      Albania     2934363           105.0
2      Algeria    42008054           215.0
3       Angola       55679           227.0
4    Argentina       76953           165.0

In [13]:
#--1. In descending order, list the frequency count of names
pd.read_sql_query('SELECT name, Count(*) AS frequency FROM athlete GROUP BY name ORDER BY frequency DESC;', con=engine).head()

                       name  frequency
0      Robert Tait McKenzie        116
1  Heikki Ilmari Savolainen         78
2     Joseph "Josy" Stoffel         76
3       Ioannis Theofilakis         72
4               Takashi Ono         66

In [20]:
#--4. In descending order list the count of medals "Gold", "Silver", "Bronze", or no medal(null)
pd.read_sql_query('SELECT medal, Count(*) AS frequency FROM athlete GROUP BY medal Order BY frequency DESC;', con=engine).head()

    medal  frequency
0    None     462666
1    Gold      26744
2  Bronze      26590
3  Silver      26232

In [21]:
#--5. In descending order, list the frequency count of the sex of olympic athletes 
pd.read_sql_query('SELECT sex, Count(*) AS frequency FROM athlete GROUP BY sex ORDER BY frequency DESC;', con=engine).head()

  sex  frequency
0   M     393188
1   F     149044

In [22]:
#--6. Join the two tables to see comparisons between a country population and if it won a medal
pd.read_sql_query('SELECT * FROM athlete INNER JOIN country ON athlete.country=country.country;', con=engine).head()

,name,sex,age,height,weight,country,national_olympic_committee,year,season,host_city,sport,event,medal,country,population,cost_of_living
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None,China,36953765,103.0
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None,China,36953765,103.0
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None,China,36953765,103.0
3,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None,China,36953765,103.0
4,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,None,Denmark,1415045928,102.0

In [34]:
#--11. In descending order, list the frequency count of the ages of olympic athletes
pd.read_sql_query('SELECT age, COUNT(*) AS frequency FROM athlete GROUP BY age ORDER BY frequency DESC;', con=engine).head()

    age  frequency
0  23.0      43750
1  24.0      43440
2  22.0      41628
3  25.0      39414
4  21.0      38328